html, body {
    background-color: #ECF6FA;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #6d7a84;
}

select {
    width: 20em;
    height: 3rem;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px #6d7a84;
    border: 2px solid #f7fafa;
    background-color: #f7fafa;
}

h1 {
    color: #5a6874;
}

hr {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: #f7fafa;
}

.formDiv {
    background-color: #FFFFFF;
    width: 100%;
    height: 110%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    border-radius: 15px;
}

#checkboxDiv {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.checkboxInput {
    display: flex;
    margin: auto;
}

#volume {
    color: #34b233;
    height: 2rem;
    width: 30rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    width: 70rem;
    height: 44rem;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
}

.checkboxElement {
    width: 15rem;
    height: 5rem;
    padding: 10px;
    margin: 5px;
    border: 1px #f3f3f3 solid;
    border-radius: 10%;
    box-shadow: 2px 2px #f3f3f3;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"] + label:before {
    border: 1px solid #f7fafa;
    content: "\00a0";
    width: 15rem;
    height: 5rem;
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
    box-shadow: 2px 2px #f3f3f3;
}

input[type="checkbox"]:checked + label:before {
    background: #34b233;
    color: #FFFFFF;
    content: "\2713";
}

input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

column1 {
    align-items: end;
}

.column1 {
    text-align: left;

}

.column2 {
    text-align: right;
}

#monthlyPayment {
    width: 30em;
}

#mainTable {
    width: 50em;
    margin: auto;
    display: inline;
}

.submitButton {
    background-color: #34b233;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    margin-top: 2rem;
    border: 1px solid #223445;
    border-radius: 5rem;
    -moz-border-radius: 5px;
    display: inline-block;
    width: 20em;
    height: 3em;
    -webkit-font-smoothing: antialiased;
}

.submitButton:after {
    transition-duration: 0.4s;
    background-color: #34b233;
}

.submitButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#teenus {
    text-align: left;
    margin: 2rem;
}

.grayRow {
    background-color: #f7fafa;
}

.kuumakse {
    background-color: #ECF6FA;
}

#periodTable {
    text-align: left;
    width: 35em;
    height: 10rem;
    padding: 0px;
    margin: 0px;
}

.periodTableText {
    position: relative;
}

.coloredCheckboxDiv{
    background-color:#f7fafa;
}

output {
    position: absolute;
    background-image: linear-gradient(#444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
}
output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
form { position: relative; margin: 50px; width: 1200px; }

body{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}

@media only screen and (max-width:1000px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }


    #monthlyPayment {
        width: 100%;
    }
}

@media only screen and (max-width:1100px) {
    #monthlyPayment {
        width: 100%;
    }
}




